<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href=".../public/img/DSC_0581.JPG">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        {{>header}}
        
        <h1>this is from static about file</h1>
        <p>This is a weather application. It is using mapbox to fetch the latitude and longitude of the location and open weathermap to fetch the current temperature. </p>
        {{>footer}}
    </body>
</html>